@model IEnumerable<Pubs2.Models.Pubs>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Styles.Render("~/Content/css")
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LicenciaFiscal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Domicilio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaApertura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Horario)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LicenciaFiscal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Domicilio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaApertura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Horario)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.PubsId }) |
                @Html.ActionLink("Details", "Details", new { id=item.PubsId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.PubsId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
